#countLabel{
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(182, 62%, 41%);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(182, 23%, 25%);
}